<!DOCTYPE html>
<html lang="en" data-ng-app="photo">
    <head>
        <title>Photo App</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Imported libraries and stylesheets -->
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/css/isotope.css" rel="stylesheet" type="text/css" media="screen">
        <link href="/css/jquery.boxer.css" rel="stylesheet" type="text/css" media="screen">
        <style type="text/css">
          body {
            /*padding-top: 60px;
            padding-bottom: 40px;*/
            padding-top: 60px;
            padding-left: 25px;
            padding-right: 25px;
          }
          @media (max-width: 777px) {
              body {
                padding: 0px;
              }
              .navbar-fixed-top,
              .navbar-fixed-bottom,
              .navbar-static-top {
                margin-right: 0;
                margin-left: 0;
              }
            }
            .photoSelected {
                background: green;
            }
            .ui-rotatable-handle 
            {
                background: #f5dc58;
                border: 1px solid #FFF;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                -webkit-border-radius: 5px;
                cursor: pointer;
                
                height:        10px;
                left:          50%;
                margin:        0 0 0 -5px;
                position:      absolute;
                bottom:           -5px;
                width:         10px;
            }
            .album:hover {
                background: #ccc;
            }
            .photo:not(.photoSelected):hover {
                background: #ccc;
            }
            .loading {
                margin-left: 35%;
                margin-right: 35%;
                margin-top: 50px;
                width: 30%;
            }
        </style>
        
        <!-- External Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.isotope.min.js"></script>
        <script src="/js/jquery.ui.rotatable.js"></script>
        <script src="/js/jquery.boxer.min.js"></script>
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
        
        <!-- Components -->
        <script src="/js/Root-ctrl.js"></script>

        <script>
            var user = <%- JSON.stringify(user) %>;
        </script>
    </head>

    <body data-ng-controller="RootCtrl">
    
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="#">Photo App</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="#/">Home</a></li>
                  <li><a href="#/me/albums">My Albums</a></li>
                  <li><a href="#/me/albums">Facebook Albums</a></li>
                  <li><a href="#/me/photos">Recent Photos</a></li>
                  <!--
                      <li><a href="#">Other</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li>
                  -->
                </ul>
                <!--
                    <form class="navbar-form pull-right">
                      <input class="span2" type="text" placeholder="Email">
                      <input class="span2" type="password" placeholder="Password">
                      <button type="submit" class="btn">Sign in</button>
                    </form>
                -->
                <div class="btn-group pull-right">
                  <a class="btn btn-primary" href="" data-ng-show="user.authenticated">
                    <img data-ng-src="https://graph.facebook.com/me/picture?access_token={{user.access_token}}" style="width:16px;"> &nbsp; {{user.displayName}}
                  </a>
                  <a class="btn btn-primary" href="/auth/facebook" data-ng-show="!user.authenticated">Login with Facebook</a>
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" data-ng-show="user.authenticated"><span class="caret"></span></a>
                  <ul class="dropdown-menu" data-ng-show="user.authenticated">
                    <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                    <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
                    <li class="divider"></li>
                    <li><a href="/auth/logout"><i class="i"></i> Log Out</a></li>
                  </ul>
                </div>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        
        <div data-ng-view id="view"></div>
    
    </body>
</html>
