<div>
    <h2 class="loading">Loading...</h2>
    <div id="albums" class="row" style="margin-left:0px;">
        <a href="#/import/{{$route.current.pathParams.myAlbumId}}/facebook/albums/{{album.id}}/photos" class="span3 hero-unit album" data-ng-repeat="album in albums">
            <h4>{{album.name}} <span style="font-size:0.7em;">({{album.count}})</span></h4>
            <img data-ng-src="https://graph.facebook.com/{{album.cover_photo}}/picture?access_token={{user.access_token}}" alt="" title="">
        </a>
    </div>
    <button type="button" class="btn btn-large btn-primary pull-right" 
            data-ng-show="false" style="margin:25px;" data-ng-class="{clickable: nextPage!==undefined}"
            data-ng-click="getNextPage()" id="loadMoreButton">Load More</button>
</div>