<h2 id="buttons">Select Photos &nbsp; &nbsp;
    <button type="button" class="btn btn-success btn-large" data-ng-click="importPhotos()">Done</button>
    <button type="button" class="btn btn-primary" data-ng-click="selectAllPhotos()">Select All</button>
    <button type="button" class="btn btn-primary" data-ng-click="selectNoPhotos()">Select None</button>
</h2>
<div><br/></div>

<div>
    <!--<img src="/img/loading.gif" class="loading" />-->
    <h2 class="loading">Loading...</h2>
    <div id="photos" class="row" style="margin-left:0px;">
        <div class="span3 hero-unit photo" data-ng-class="{photoSelected: photo.selected}" 
                data-ng-repeat="photo in photos" data-ng-click="photo.selected = !photo.selected">
            <img data-ng-src="https://graph.facebook.com/{{photo.id}}/picture?access_token={{user.access_token}}" alt="" title="">
        </div>
    </div>
    <button type="button" class="btn btn-large btn-primary pull-right" 
            data-ng-show="false" style="margin:25px;" data-ng-class="{clickable: nextPage!==undefined}"
            data-ng-click="getNextPage()" id="loadMoreButton">Load More</button>
</div>