<h2 id="buttons">Select Photos &nbsp; &nbsp;
    <button type="button" class="btn btn-success btn-large" data-ng-click="importPhotos()">Done</button>
    <button type="button" class="btn btn-primary" data-ng-click="selectAllPhotos()">Select All</button>
    <button type="button" class="btn btn-primary" data-ng-click="selectNoPhotos()">Select None</button>
</h2>
<div><br/></div>

<div>
    <div id="photos" class="row" style="display:none;margin-left:0px;">
        <div class="span3 hero-unit" style="padding:15px;width:220px;margin-left:10px;margin-bottom:10px;" data-ng-class="{photoSelected: photo.selected}" 
                data-ng-repeat="photo in photos" data-ng-click="photo.selected = !photo.selected">
            <img data-ng-src="https://graph.facebook.com/{{photo.id}}/picture?access_token={{user.access_token}}" alt="" title="">
        </div>
    </div>
</div>